modules = ["nodejs-20", "python-3.11", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[workflows]
runButton = "Dev Services"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Health Info Website"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CMS Server"

[[workflows.workflow]]
name = "Health Info Website"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install --force && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"
waitForPort = 8000

[[workflows.workflow]]
name = "CMS Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cms && python manage.py migrate && python manage.py runserver 0.0.0.0:8001"
waitForPort = 8001

[[workflows.workflow]]
name = "Run Backend"
author = 41573686
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[workflows.workflow]]
name = "Run CMS"
author = 41573686
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cms && python manage.py migrate && python manage.py runserver 0.0.0.0:8001"

[[workflows.workflow]]
name = "Start All Services"
author = 41573686
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cms && python manage.py migrate && python manage.py runserver 0.0.0.0:8001"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install --force && npm run dev"

[[workflows.workflow]]
name = "Frontend and Backend"
author = 41806736
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[workflows.workflow]]
name = "Dev Services"
author = 42115102
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cms && python manage.py migrate && python manage.py runserver 0.0.0.0:8001"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8001
externalPort = 3000
